.app {
  background-color: blue;
}

.number{
  text-align: center;
  padding:10px;
  margin:10px;
  color:white;
}

.button{
  text-align: center;
  justify-items: center;
  color:blue;
  font-size: 25px;
  padding:10px;
  margin:10px;
  background-color: orange;
}